<div id="<%= dom_id movie %>">
  <p>
    <strong>Movie:</strong>
    <%= movie.movie %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>


  <p>
    <strong>reating:</strong>
    <%= movie.average_rate %>
  </p>

</div>
