  <!-- app/views/movies/upload.html.erb -->
  <h1>Upload CSV File</h1>
  <%= form_tag import_csv_movies_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Upload' %>
  <% end %>

<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
