  <h1>Upload CSV File for reviews</h1>
  <%= form_tag import_csv_reviews_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Upload' %>
  <% end %>
<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>

<%= link_to "New review", new_review_path %>
